// breakpoints
$grids-breakpoints: (xs: 0, sm: 34em, md: 48em, lg: 62em);

//fonts
$font-sans: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;

// color
$color-black: #444;
